{% extends 'base.html' %} {% block content%}
<div class="container">
    <h1 class="text-center" id="about">About Flourish</h1>
    <p class="text-center">Flourish is a way for artists to track their progress with figure drawing practice. Upload your references, time spent, and a short description and build a visual log of your skills improve over time.

    <div class="text-nowrap text-center"x><p>By Julie Webb | <a href="Github.com/JFWebb" target="blank" class="footerlink">Github.com/JFWebb</a> | <a href="https://twitter.com/juliefwebb" target="blank" class="footerlink">Twitter.com/JulieFWebb</a></p>
    </div>
    </p>
</div>
{% endblock %}