{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flourish</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    </head>
<body>
    <header class="row" id="navigation">
        <nav class="navbar fixed-top navbar-expand-lg bg-white" id="navigation">
            <div class="container-fluid">
                <a href="/" class="navbar-brand" id="logo">&nbsp;&nbsp;Flourish </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav  ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'posts' %}">Posts</a></li>
                        
                        <li class="nav-item"><a type="button" class="btn btn-outline-success -sm text-nowrap btn-sm  m-1" href="{% url 'post_create' %}" >+ New Post</a></li>
                        <li class="nav-item"><a type="button" class="btn btn-success text-nowrap  btn-sm m-1" href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
                        </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main class="container">
        {% block content %} {% endblock %}
    </main>
    <footer class="row">
       
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> 
</html>