@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
    -webkit-font-smoothing: antialiased;
}

main {
    padding-top: 95px;
}
  
img {
    width: 250px;
    border-radius: 0.375rem;
}

.card {
    opacity: 0.8;
    transition: 0.10s;
}

.card:hover{
    opacity: 1;
    transition: 0.10s;
}

#logo, #about, #confirm{
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.5em;
}

#welcome{
    font-family: 'Fredericka the Great', cursive;
    font-size: 5em;
}