{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="card mx-auto d-block m-3 p-4" style="width: 30rem;">
        <div class = "card-content">
            <a href="{% url 'detail' post.id %}">
                <div class="row">
                    <div class="col">
                     <img class="img-fluid mx-auto d-block" src="{{ post.photo_pair.art_url }}">
                    </div>
                    <div class="col">
                     <img class="img-fluid mx-auto d-block" src="{{ post.photo_pair.ref_url }}">
                    </div>
                </div>           
            </a>
        </div>
        <card class="card-body">
            <div class="text-end">
                <a type="button" class="text-success" href="{% url 'post_update' post.id %}"><i class="bi bi-pencil"></i></a>
                <a type="button" class="text-success" href="{% url 'post_delete' post.id %}"><i class="bi bi-x-square"></i></a>
            </div>
            <p>Posted: {{ post.time_stamp }}</p>
            <p>Timeframe: {{ post.time_int }} {{ post.get_time_unit_display}}</p> 
            <p>Description: {{ post.desc }} </p>
        </card>
        </div>
    </div>
</div>

{% endblock %}